---
---

@import "{{ site.theme }}";

.menu {
  float: right;
  width: 100%;
  border-bottom: 1px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
   padding-bottom: 10px;
}
  
nav li {
  display: inline-block;
  text-align: center;
  font-size: large;
}
  
nav a {
  padding: 10px;
  width: 100%;
}

#github:before{
  content: url(/images/Github-mark.png);
}